#wowslider-container$GallerySuffix$ .ws_thumbs .ws_selthumb img{
	border-color:#444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a img{
	margin:3px;
	text-indent:0;
    -moz-box-shadow: 0 0 18px #FFF;
    box-shadow: 0 0 18px #FFF;
    border: 3px solid #FFFFFF;
	max-width:none;
}

