#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom: 25px;
	left: 18px;
	margin-right: 18px;
	z-index: 50;
	color: #FFFFFF;
	text-shadow: -1px -1px 0 #000000;
    font-family: 'Donegal One',Georgia, serif;
	font-size: 20px;
	line-height: 21px;
	font-weight: bold;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:5px;
	background:#555555;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	box-shadow: 0 1px 1px rgba(225, 225, 225, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow:0 1px 1px rgba(225, 225, 225, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.8);
	-moz-border-radius:0 1px 1px rgba(225, 225, 225, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.8);
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:5px;
    font-size: 16px;
    font-weight: normal;
}
