#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:15%;
	left: $backMarginsLeft$px;
	margin-right:30px;
	z-index: 50;
	padding:10px;
	color: #000000;
	background:#FFF;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    text-shadow: 0 0 2px #FFFFFF;	
	-moz-border-radius:0 8px 8px 0;
	-webkit-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
	font-size: 14px;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:5px;
	font-size: 12px;
}

