#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:8%;
	left: 0px;
	margin-right:30px;
	z-index: 50;
	color: #000000;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    text-shadow: 0 0 2px #FFFFFF;	
	font-size: 14px;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:10px;
	background:#FFF;
	-moz-border-radius:0 8px 8px 0;
	-webkit-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:10px;
	font-size: 12px;
}
