
#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:16px;
	height:17px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:7px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover{
	background-position: 0 50%;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull{
	background-position: 0 100%;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-22px;
	z-index:60;
	height: 35px;
	width: 35px;
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0;
	right:0px;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:0px;
	background-position: 0 0; 
}
#wowslider-container$GallerySuffix$ a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover {
	background-position: 0 100%; 
}
* html #wowslider-container$GallerySuffix$ a.ws_next,* html #wowslider-container$GallerySuffix$ a.ws_prev{display:block}
#wowslider-container$GallerySuffix$:hover a.ws_next, #wowslider-container$GallerySuffix$:hover a.ws_prev {display:block}
