#wowslider-container$GallerySuffix$ .ws_thumbs .ws_selthumb img{
	border-color:#6cbe42;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a img{
	margin:3px;
	text-indent:0;
    border: 5px solid #FFFFFF;
	max-width:none;
}

