#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:7%;
	left: 0;
	margin-right:10px;
	z-index: 50;
	color: #F9FBFB;
	text-transform:uppercase;
    font-family: Franklin Gothic Medium,sans-serif;
	font-size: 18px;
	line-height: 18px;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:10px;
	background:#2a2a2a;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:10px;
	font-size: 13px;
	text-transform:none;
}
