#wowslider-container$GallerySuffix$  .ws_thumbs { 
    right: -$thumbMarginWidth$px;
    top: 0;
	width:$thumbFullWidth$px;
	height:100%;
}
#wowslider-container$GallerySuffix$  .ws_thumbs div{
	position:relative;
	height:$thumbContHeight$px; 
	width:100%;
}
