#wowslider-container$GallerySuffix$ {
	margin-bottom: $thumbMarginHeight$px;
}
#wowslider-container$GallerySuffix$  .ws_thumbs { 
    bottom: -$thumbMarginHeight$px;
    left: 0;
	width:100%;
	height:$thumbFullHeight$px;
}
#wowslider-container$GallerySuffix$  .ws_thumbs div{
	position:relative;
	height:100%;
	width:$thumbContWidth$px; 
}
