#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 20px;
	left: 20px;
	margin: 9px;
	color:#3c506b;
	z-index: 50;
	font-family:Cuprum,sans-serif;
	font-size: 20px;	
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFFFFF;
	color:#92a3bc;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:10px;
	background:#e9e9e9;
	box-shadow: 0 2px 2px #333333;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:10px;
	font-size: 17px;
	font-weight: normal;
	color:#303030;
}