#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 4%;
	left: 0px;
	margin: 9px;
	margin-left: 0px;
	margin-right: 9px; 
	color:#5D5D5D;
	z-index: 50;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 18px;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding:8px;
	background:#FFFFFF;
	border-radius:5px;
	-moz-border-radius:0 10px 10px 0;
	border-radius:0 10px 10px 0;   
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	
	-moz-box-shadow: 0 0 2px #5D5D5D;
    box-shadow: 0 0 2px #5D5D5D; 
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:8px;
	font-size: 14px;
}
