#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	bottom: 5%;
	left: 2%;
	margin-right:25px;
	color:white;
	z-index: 50;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
}
#wowslider-container$GallerySuffix$ .ws-title span,#wowslider-container$GallerySuffix$ .ws-title div{
	display:inline-block;
	background-color:black;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding:10px;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	font-size: 12px;
	margin-top:5px;
}