/* bottom center */
div.wowslider-container_crystal  .ws_bullets {
    $TooltipPos$: 5px;
    right: 10px;
}
div.wowslider-container_crystal .ws_bullets .ws_bulframe {
	top: 20px;
}
div.wowslider-container_crystal .ws_bullets .ws_bulframe {
	top: 20px;
}
