div.wowslider-container_crystal .ws-title{
	position: absolute;
	bottom:18px;
	left: 18px;
	margin-right:23px;
	z-index: 50;
	color: #FFF;
    font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
}
div.wowslider-container_crystal .ws-title div,div.wowslider-container_crystal .ws-title span{
	display:inline-block;
	padding:5px;
	background:#000;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
div.wowslider-container_crystal .ws-title div{
	display:block;
	margin-top:5px;
	font-size: 12px;
}
