#wowslider-container$GallerySuffix$ .ws_thumbs .ws_selthumb img{
	border-color:#444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a img{
	text-indent:0;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
	margin:3px;
	max-width:none;
}

