/* separate */
#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	bottom:0;
	left: 0;
	z-index: 50;
	padding:10px 1%;
	color: #FFFFFF;
	text-transform:none; 
	background:#000000;
    font-family: 'Simonetta',Comic Sans MS,cursive;
	font-size: 24px;
	line-height: 26px;
	text-align: center; 
	font-weight: normal;
	width: 98%; 
	border-radius:0;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:5px;
	font-size: 15px;
	line-height: 17px;
	text-transform:none; 
}
#wowslider-container$GallerySuffix$:hover .ws-title {
	opacity:0.8;
}
